@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --state-hover: #fff;
  --colors-danger: #ff5959;
  --colors-blue: #5c96ff;
  --colors-orange: #fa706c;
  --colors-green: #70ce88;
  --colors-primary: #717cff;
  --colors-black: #373737;
  --colors-black-2: #565656;
  --font-family: "Roboto", sans-serif;
  --color-descrip: #7d7d7d;
  --color-hover: #505050;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--state-hover);
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
input {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  min-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 24px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: clamp(30px, 2vw, 40px);
}

.header__logo {
  width: clamp(110px, 20vw, 146px);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(20px, 1vw, 70px);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(20px, 1vw, 70px);
}

.header__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(15px, 1vw, 17px);
  color: var(--colors-black);
  padding: 0.5rem;
  white-space: nowrap;
  position: relative;
}

.header__link::before {
  position: absolute;
  content: "";
  border-radius: 2px;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--colors-primary);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link:hover::before {
  width: 100%;
}

.header__action {
  font-weight: 500;
  font-size: clamp(15px, 1vw, 17px);
  color: #505050;
  padding: 9px 32px;
  border: 2px solid var(--colors-primary);
  border-radius: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__action:hover,
.header__action-mobile:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--color-hover);
  background-color: var(--state-hover);
}

.header__action-mobile {
  width: clamp(32px, 5vw, 40px);
  height: clamp(32px, 5vw, 40px);
  display: none;
}

@media screen and (max-width: 857px) {
  .header__action {
    display: none;
  }
}
@media screen and (max-width: 744px) {
  .header__list {
    display: none;
  }
  .header__action-mobile {
    display: block;
  }
}
.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-top: 124px;
}

.hero__title {
  font-weight: 900;
  font-size: clamp(30px, 5vw, 56px);
  color: #2f2f2f;
  max-width: 530px;
  margin-bottom: 15px;
}
.hero__title-primary {
  color: var(--colors-primary);
}

.hero__description {
  font-weight: 500;
  font-size: 22px;
  line-height: 173%;
  color: var(--color-descrip);
  margin-bottom: 42px;
}

.hero__action {
  font-weight: 500;
  font-size: 22px;
  line-height: 182%;
  color: var(--state-hover);
  background-color: var(--colors-primary);
  border-radius: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid var(--colors-primary);
  padding: 10px 92px 10px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: clamp(50px, 10vw, 105px);
  position: relative;
}
.hero__action:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--color-hover);
  background-color: var(--state-hover);
}

.hero__action::after {
  position: absolute;
  content: "";
  background-image: url(../../imgs/icons/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 28px;
  height: 26px;
  right: 32px;
  top: calc(50% - 13px);
}

.hero__social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.hero__social-link svg {
  width: 31px;
  height: 31px;
}
.hero__social-link svg:hover {
  fill: #3c5b9a;
}

.hero__image {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 100px;
}
.hero__image > img {
  height: 610px;
}

@media screen and (max-width: 846px) {
  .hero__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__content,
  .hero__image {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .hero__image > img {
    width: 100%;
    height: auto;
  }
  .hero__social-items {
    margin-bottom: 20px;
  }
}
.featured {
  background-color: #fafafa;
}

.featured__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.featured__title {
  font-weight: 500;
  font-size: clamp(18px, 5vw, 24px);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--colors-black);
  padding-bottom: clamp(50px, 5vw, 86px);
}

.featured__items {
  width: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(40px, 5vw, 74px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  padding: 20px;
  margin-bottom: clamp(50px, 5vw, 100px);
}

.featured__items::-webkit-scrollbar {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.featured__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
  position: relative;
}

.featured__dot::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.32);
}

.featured__dot:nth-child(1)::after {
  background-color: var(--colors-primary);
}/*# sourceMappingURL=main.css.map */