.events {
    padding-top: clamp(50px, 5vw, 90px);
    padding-bottom: clamp(50px, 5vw, 100px);
}
.events__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(50px, 5vw, 100px);
}

.events__title {
    @include section-title;
    margin-bottom: clamp(18px, 5vw, 25px);
}

.events__description {
    max-width: 949px;
    @include description;
    text-align: center;
    margin-bottom: clamp(30px, 5vw, 45px);
}

.events__items {
    width: 100%;
    max-width: 550px;
    display: flex;
    gap: clamp(20px, 5vw, 40px);
    align-items: center;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
    margin-bottom: clamp(20px, 5vw, 30px);
}

.events__card {
    max-width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background-color: var(--state-hover);
    border-radius: 15px;
    padding: clamp(20px, 5vw, 30px);
    max-width: 550px;
}

.events__card-top {
    margin-bottom: clamp(20px, 5vw, 29px);
    display: flex;
    gap: 18px;
}

.events__card-date {
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    background: #717dff62;
}

.sticy-num {
    font-weight: 700;
    font-size: clamp(20px, 5vw, 27px);
    color: var(--colors-primary);
}
.sticy-text {
    font-weight: 900;
    font-size: clamp(15px, 5vw, 18px);
    color: var(--colors-primary);
}

.events__card-title {
    font-weight: 700;
    font-size: clamp(16px, 5vw, 24px);
    line-height: 154%;
    color: #37474f;
}

.events__card-description {
    @include description;
    margin-bottom: clamp(18px, 5vw, 25px);
}

.events__card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events__card-action {
    @include btn-noborder;
    position: relative;
    padding-right: 40px;
    transition: all 0.3s ease;
    &::after {
        position: absolute;
        content: "";
        background-image: url(../../imgs/icons/arrow-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
        right: 0;
    }

    &:hover {
        @include btn-hover;
        color: var(--colors-primary);
    }
}

.events__card-time {
    font-weight: 900;
    font-size: clamp(15px, 5vw, 16px);
    line-height: 175%;
    letter-spacing: 0.03em;
    color: var(--colors-black);
}

@media screen and (max-width: 636px) {
    .events__card:first-child {
        display: none;
    }
    .events__card-top {
        flex-direction: column;
    }
}

@media screen and (min-width: 636px) {
    .events__card {
        width: 100%;
        min-width: 550px;
    }
    .events__items {
        min-width: 100%;
    }
}

@media screen and (max-width: 466px) {
    .events__card-bottom {
        flex-direction: column-reverse;
        align-items: start;
    }
}

.events__items::-webkit-scrollbar {
    visibility: hidden;
}
