.testimonial {
    padding-top: clamp(50px, 5vw, 115px);
    padding-bottom: clamp(45px, 5vw, 98px);
}

.testimonial__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__title {
    @include section-title;
    margin-bottom: 20px, 5vw, 25px;
}

.testimonial__description {
    @include description;
    text-align: center;
    margin-bottom: clamp(50px, 5vw, 142px);
}

.testimonial__items {
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    padding: 20px;
    gap: clamp(30px, 5vw, 60px);

    margin-bottom: clamp(40px, 5vw, 84px);

    &::-webkit-scrollbar {
        visibility: hidden;
    }
}

.testimonial__card {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.06);
    background-color: var(--state-hover);
    border-radius: 29px;
    padding: clamp(25px, 5vw, 35px);
    display: flex;
    flex-direction: column;
    max-width: 503px;
    min-width: 400px;
}

.card__user-top {
    display: flex;
    align-items: center;
    gap: clamp(20px, 5vw, 28px);
    margin-bottom: clamp(20px, 5vw, 30px);
}

.card__user-img {
    width: 62px;
    height: 62px;
    border-radius: 12px;
}

.card__user-user {
    display: flex;
    flex-direction: column;
}

.card__user-name {
    font-weight: 900;
    font-size: clamp(16px, 5vw, 18px);
    color: #37474f;
}

.card__user-job {
    font-weight: 500;
    font-size: clamp(15px, 5vw, 18px);
    color: #37474f;
    opacity: 0.65;
}

.card__user-description {
    @include description;
    font-size: clamp(15px, 5vw, 18px);
}
