:root {
    --state-hover: #fff;
    --colors-danger: #ff5959;
    --colors-blue: #5c96ff;
    --colors-orange: #fa706c;
    --colors-green: #70ce88;
    --colors-primary: #717cff;
    --colors-black: #373737;
    --colors-black-2: #565656;
    --font-family: "Roboto", sans-serif;
    --color-descrip: #7d7d7d;
    --color-hover: #505050;
    --color-news: #252525;
}
